name: Python package tests

on:
  push:
    branches: main
  pull_request:
    branches: main
jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.13"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r python/requirements.txt
    - name: Test with pytest
      run: |
        pip install pytest pytest-cov
        pytest python --doctest-modules --junitxml=junit/test-results.xml --cov=com --cov-report=xml --cov-report=html
        